body {
    margin: 0;
}

.nav-bar {
    display: flex;
    background-color: lightgrey;
    padding: 0.5rem;
}

.nav-bar a {
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-button {
    padding: 0.5rem;
    border-radius: 5px;
}

.events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 1rem auto;
    padding: 1rem;
}

.models-list-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-style: solid;
}

.list-anchor {
    text-decoration: none;
}

.detail-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 2rem auto;
    border-style: solid;
    padding: 1rem;
}

.detail-multi-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.detail-description {
    border-top-style: dashed;
    border-bottom-style: dashed;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.detail-button {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    padding: 1rem;
    margin-top: 1rem;
}

form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.errormsg {
    text-align: center;
}


input[type="submit"] {
    margin-top: 10px;
    display: block;

}

.removeButton{
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}


/* new */
/* General styles */
body {
    font-family: Arial, sans-serif;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Table cell styles */
td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Event container styles */
.event-container {
    max-width: 450px;
    margin: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

/* Event container row styles */
.event-container-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 5vw;
}

/* Event header styles */
.event-header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    font-weight: bold;

}



/* Event title styles */
a .event-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    word-wrap: break-word;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    text-decoration: none;

  }


  

/* Event content styles */
.event-content {
    padding: 10px;
}

/* Image placeholder styles */
.image-placeholder {
    text-align: center;
    margin-top: 10px;
}

/* Description preview styles */
.description-preview {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}


img {
    width: 100%;
    height: auto;
    display: block;
}

.monospace-text {
    font-family: 'Courier New', monospace;
}

  