body {
    margin: 0;
}

.nav-bar {
    background-color: #333;
    display: flex;
    justify-content: space-around;
}

.nav-button {
    padding: 2rem;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-button:hover {
    color: grey;
}

.events-container {
    display: flex;
    flex-direction: column;

    max-width: 100%;
    margin: 1rem auto;
    margin-left: 10vw;
    margin-right: 10vw;
    padding: 1rem;
}


.user-country-event-container .event-container-row:nth-child(odd) .event-container {
    background-color: #eee0e0; 
}


.generic-event-container .event-container-row:nth-child(odd) .event-container {
    background-color: #eee0e0;
}



.models-list-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom-style: solid;
}

.list-anchor {
    text-decoration: none;
}

.detail-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 2rem auto;
    border-style: solid;
    padding: 1rem;
}

.detail-multi-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.detail-description {
    border-top-style: dashed;
    border-bottom-style: dashed;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.detail-button {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    padding: 1rem;
    margin-top: 1rem;
}

form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.errormsg {
    text-align: center;
}


input[type="submit"] {
    margin-top: 10px;
    display: block;

}

.removeButton{
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
}


/* new */
/* General styles */
body {
    font-family: Arial, sans-serif;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Table cell styles */
td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Event container styles */
.event-container {
    max-width: 45%;
    margin: 1rem;
    background-color: #f9f9f9;
    border: 1px solid #000;
}

/* Event container row styles */
.event-container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

/* Event header styles */
.event-header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    font-weight: bold;
}

/* Event title styles */
.event-title {
    display: block;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    height: 80px;
}

/* Event content styles */
.event-content {
    padding: 10px;
}

/* Image placeholder styles */
.image-placeholder {
    text-align: center;
    margin-top: 10px;
}

/* Description preview styles */
.description-preview {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}


img {
    width: 100%;
    height: auto;
    display: block;
}

.monospace-text {
    font-family: 'Courier New', monospace;
}

.content-row{
    td:nth-child(1) {
        width: 25%; 

      }
  

      td:nth-child(2) {
        width: 75%; 

}
}

.type-row{
    td:nth-child(1) {
        width: 25%; 

      }
  
     
      td:nth-child(2) {
        width: 75%;

}
}
#filterCountry{
    max-width: 20%;
}


/* styling for "events by continent" dropdown */

#dropdown-continents {
    display: block;
    position: relative;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 10rem;
    overflow-y: scroll;
}

.dropdown-content div {
    padding: 0.5rem 1rem;
    border-bottom-style: solid;
    border-bottom: #000;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
}

#dropdown-continents:hover {
    color: grey; 
}

#dropdown-continents:hover .dropdown-content {
    display: block;
    background-color:#ddd;
    color:#777;
}

.dropdown-content:hover {
    display: block;
    background-color:#ddd;
    color:#777;
}

.dropdown-content div:hover {
    background-color: #000;
    color: white;
}

/* styling for page numbers */
.page-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
    padding: 0;
}

.page-numbers > li {
    list-style-type: none;
    padding: 0 1rem;
    font-size: 1.5rem;
}
